<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Baptiste DUPUCH">
        <title>{% block title %}{% endblock title %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/kenavowelcomewall/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/kenavowelcomewall/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
        {% endblock stylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/kenavowelcomewall/css/site.css') }}" rel="stylesheet" type="text/css" media="screen" />
        {{ vichgeo_include_js() }}
    </head>
    <body>
        

    <div class="map">
        <div class="map-inner">
            {{ vichgeo_map('pre_configured') }}
        </div>
    </div>
    {% block body %}{% endblock body %}
        {% block javascripts %}
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        <script src="{{ asset('bundles/kenavowelcomewall/js/bootstrap.min.js') }}"></script>    
        {% endblock javascripts %}
    </body>
</html>